<h1> 아이유팬이 좋아할 만한 다른 아티스트 찾기 <h1>

## 실습 목표
---
- 추천시스템의 개념과 목적을 이해한다.
- Implicit 라이브러리를 활용하여 Matrix Factorization(이하 MF) 기반의 추천 모델을 만들어 본다.
- 음악 감상 기록을 활용하여 비슷한 아티스트를 찾고 아티스트를 추천해 본다.
- 추천 시스템에서 자주 사용되는 데이터 구조인 CSR Matrix을 익힌다
- 유저의 행위 데이터 중 Explicit data와 Implicit data의 차이점을 익힌다.
- 새로운 데이터셋으로 직접 추천 모델을 만들어 본다.

## lastfm dataset 가져오기

$ mkdir -p ~/aiffel/EXPLORATION/09/recommendata_iu/data/lastfm-dataset-360K
$ ln -s ~/data/lastfm-dataset-360K/* ~/aiffel/EXPLORATION/09/recommendata_iu/data/lastfm-dataset-360K

## 데이터 준비

$ more ~/aiffel/EXPLORATION/09/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv

Pandas를 활용해 이 데이터를 열어 보기

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/EXPLORATION/09/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

첫 번째 유저가 어떤 아티스트의 노래를 듣는지 확인해 보자.

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

## 데이터 탐색
---
- 유저수, 아티스트수, 인기 많은 아티스트
- 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
- 유저 play 횟수 중앙값에 대한 통계

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

## 모델 검증을 위한 사용자 초기 정보 세팅

우리가 만든 추천시스템의 추후 검증 과정을 위해, '나는 A를 좋아한다.'라는 정보를 위 데이터셋에 5개 이상 추가해 주기

In [10]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

## 모델에 활용하기 위한 전처리 (실습)

pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아 줍니다. indexing 작업을 위해 매우 유용

In [11]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

data의 user_id와 artist 컬럼 내 값들이 모두 정수 인덱스 값으로 잘 변경되었으면 훈련을 위한 전처리가 완료

## 사용자의 명시적/암묵적 평가

In [14]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

앞으로 만들어갈 모델에서는 암묵적 데이터의 해석을 위해 다음과 같은 규칙을 적용

---
- 한 번이라도 들었으면 선호한다고 판단한다.
- 많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

## Matrix Factorization(MF)

m명의 사용자들이 n명의 아티스트에 대해 평가한 데이터를 포함한 (m,n) 사이즈의 평가행렬(Rating Matrix)을 만들 것이다.

추천 시스템의 다양한 모델 중 Matrix Factorization(MF, 행렬분해) 모델을 사용

(m,n) 사이즈의 행렬 R을 (m,k) 사이즈의 행렬 P와 (k,n) 사이즈의 행렬 Q로 분해한다면 R이란 그저 P와 Q의 행렬곱으로 표현 가능할 수 있다는 간단한 아이디어이며, 대체로 k는 m이나 n보다 훨씬 작은 값이기 때문에 계산량 측면으로도 훨씬 유리해진다. 

하지만 아이디어의 단순함에도 불구하고 MF 모델은 성능이 준수하고 Scalability가 좋아서 많이 사용되는 모델

![](https://github.com/MulderKim/EXPLORATION/blob/main/09/etc/E-3v2-2_ekCv9hW.max-800x600.png?raw=true)

(m, k) 사이즈의 Feature Matrix P는 k 차원의 벡터를 사용자 수만큼 모아놓은 행렬

![m=4, n=5, k=2인 MF 모델](https://github.com/MulderKim/EXPLORATION/blob/main/09/etc/E-3v2-3.max-800x600.png?raw=true)

m=4, n=5, k=2인 MF 모델

---
첫 번째 벡터 P<sub>0</sub> = (1, 0.1)은 바로 빨간 모자를 쓴 첫 번째 사용자의 특성(Feature) 벡터

Q 행렬의 첫번째 벡터 Q<sub>0</sub> = (0.9, -0.2)는 해리포터 영화의 특성 벡터

MF 모델은 이 두 벡터를 내적해서 얻어지는 0.88이 바로 R<sub>0,0</sub> 으로 정의되는 사용자의 영화 선호도로 보는 모델

벡터를 잘 만드는 기준은 유저i의 벡터(U<sub>i</sub>)와 아이템j의 벡터(I<sub>j</sub>)를 내적했을 때 유저i가 아이템j에 대해 평가한 수치(M<sub>ij</sub>)와 비슷한지 이며..



U<sub>i</sub> &#183; I<sub>j</sub> = M<sub>ij</sub>

## CSR(Compressed Sparse Row) Matrix

유저 X 아이템 평가행렬은 유저는 36만 명이고 아티스트는 29만 명입으로 행렬로 표현하고 행렬의 각 원소에 정수 한 개 (1byte)가 들어간다면 약 97GB가 필요하며 97GB나 되는 거대한 행렬을 메모리에 올려놓고 작업한다는 것은 불가능하기 때문에 대안이 되는 것이 CSR(Compressed Sparse Row) Matrix이다

CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보만으로 구성하여 메모리 사용량을 최소화하면서도 Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조

In [15]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습하기

- implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지입니다.
- 이 패키지에 구현된 als(AlternatingLeastSquares) 모델을 사용하겠습니다. Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행하는 AlternatingLeastSquares 방식이 효과적인 것으로 알려져 있습니다.

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares 클래스의 __init__ 파라미터를 살펴보면 

1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지 

2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지 

3. use_gpu : GPU를 사용할 것인지 

4. iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지

1,4를 늘릴수록 학습데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 한다

In [17]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [18]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [19]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

모델 학습이 끝난뒤 2가지 사항을 살펴보면...

1. Zimin 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지
2. 두 벡터를 곱하면 어떤 값이 나오는지

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [21]:
zimin_vector

array([ 0.20901926,  0.60070777,  0.16200316, -0.41259056,  0.2027916 ,
        1.1197585 , -0.7110972 ,  0.60583496,  0.52546895,  0.61950606,
        0.14905703, -0.8690442 ,  0.2654121 , -1.5373814 , -1.3356466 ,
        0.09207828,  0.43072334,  1.1442468 , -0.02451817,  0.05684321,
        0.27796143,  0.21174172,  0.7725191 , -0.20167674,  1.0101323 ,
       -0.57193565, -0.7384177 ,  0.73422456,  0.74019885, -0.67657405,
        0.0435327 , -1.3205544 ,  0.24620798,  0.9046062 ,  0.5841672 ,
       -0.8914771 , -0.52114046,  0.03771257, -1.203079  , -0.34635836,
        0.16804834, -0.867326  ,  0.41654754,  0.47945926,  0.05481883,
        1.5679361 ,  0.86389995,  0.6536913 , -0.3405644 , -0.8829239 ,
        0.6637837 , -0.15878178,  1.081762  , -0.7276846 ,  0.592462  ,
        0.20741072, -0.7606765 , -0.28710538, -1.3288274 , -0.28583115,
       -0.80569434,  0.24468529,  0.37989885,  0.9712091 ,  0.9657601 ,
        0.03149229, -0.8909956 , -0.06948765, -0.88690907,  0.22130004,
        0.9254442 ,  0.23996481, -0.76273704,  0.92561215,  0.19476448,
        0.06273253,  1.0074326 , -0.3521789 ,  0.17724499, -0.11358613,
        0.38636053, -0.18357821,  0.08710154, -0.29153803, -0.67301184,
       -1.6748997 ,  0.45650563, -0.58755016, -0.37161553,  0.09961805,
        0.37563163,  0.68858105, -0.43430483, -0.87729985,  0.13517049,
        0.23329242, -0.02167645,  0.7884911 ,  1.1063858 , -0.08545928],
      dtype=float32)

In [22]:
black_eyed_peas_vector

array([ 9.31972824e-03,  1.30458418e-02,  1.79365706e-02,  1.48197236e-02,
        1.27608385e-02,  9.59739927e-03,  5.90645988e-03,  1.24716964e-02,
        2.26951130e-02,  6.26348192e-03,  3.67239793e-03,  8.63804296e-03,
        6.93408540e-03, -1.39793092e-02,  3.43707565e-04, -1.14374114e-02,
        1.47572244e-02,  1.67407412e-02,  3.42306495e-03,  1.34130251e-02,
        1.57208031e-03,  1.09662339e-02,  1.68288797e-02,  1.64554995e-02,
        2.87147183e-02, -3.10877338e-03, -2.67837313e-03,  6.68165740e-03,
        9.05041210e-03, -9.21858242e-04,  8.30241852e-03, -2.49872785e-02,
        1.98599920e-02,  1.93425119e-02,  1.51445912e-02, -4.90500219e-03,
        2.75861868e-03,  8.36817361e-03, -1.51973292e-02,  9.31793172e-03,
       -4.56010504e-03,  1.77535918e-02,  6.48722332e-03,  1.75209921e-02,
        3.68739828e-03,  2.10793484e-02,  1.93337798e-02,  1.25218146e-02,
       -8.47573020e-03,  3.30591272e-03,  1.13621084e-02,  6.37303281e-04,
        1.34396916e-02, -8.71520955e-03,  1.18630137e-02,  1.88181948e-04,
       -5.08239213e-03,  2.20015645e-02,  3.35968309e-03, -7.00864382e-03,
       -4.39055776e-03,  9.42795072e-03,  1.07440539e-03,  3.11165024e-02,
        2.13465318e-02,  1.70285664e-02, -2.68510403e-03,  5.55073423e-03,
       -5.27604809e-03,  2.12229341e-02,  1.56479627e-02,  9.94609855e-03,
       -1.56371016e-02,  3.93518014e-03,  1.68993082e-02,  6.10765070e-03,
        1.92688350e-02, -1.24589931e-02,  3.81847308e-03, -1.09477248e-02,
        9.39786155e-03,  1.23210587e-02,  7.02053949e-05,  1.88616812e-02,
       -8.56657419e-03, -5.68915904e-03,  3.89353512e-03,  4.07299912e-03,
        3.87760403e-04,  1.07176099e-02,  9.79149155e-03,  2.85111982e-02,
        9.05357476e-04, -1.03561943e-02,  8.79375637e-03,  1.02712158e-02,
        1.51576111e-02,  6.79798052e-03,  2.49170922e-02,  1.25767021e-02],
      dtype=float32)

In [23]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.5134075

모델이 예시된 queen에 대한 선호도를 어떻게 예측할지 체크

In [24]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.3070207

## 비슷한 아티스트 찾기 + 유저에게 추천하기

비슷한 아티스트 찾기

AlternatingLeastSquares 클래스에 구현되어 있는 similar_items 메서드를 통하여 비슷한 아티스트를 찾아볼수 있다.

In [25]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0),
 (277, 0.98584783),
 (28, 0.983517),
 (5, 0.9771919),
 (217, 0.96870023),
 (490, 0.9682188),
 (473, 0.966595),
 (247, 0.965728),
 (418, 0.96102875),
 (910, 0.95119715),
 (268, 0.95020217),
 (694, 0.94814324),
 (1018, 0.9458513),
 (55, 0.94384474),
 (776, 0.9342415)]

(아티스트의 id, 유사도) Tuple 로 반환하고 있음을 확인할 수 있다. 아티스트의 id를 다시 아티스트의 이름으로 매핑 시켜 보면..

In [26]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'oasis',
 'placebo',
 'the beatles',
 'u2',
 'nirvana',
 'pink floyd',
 'foo fighters',
 'the smashing pumpkins',
 'arctic monkeys',
 'the cure']

몇 번 더 반복해서 확인하기 위해 위의 코드를 함수로 만들고 확인해보면...

In [27]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

2pac 으로 확인해보면...

In [28]:
get_similar_artist('2pac')

['2pac',
 'dr. dre',
 'notorious b.i.g.',
 'nas',
 'the game',
 'jay-z',
 'bone thugs-n-harmony',
 'ice cube',
 'snoop dogg',
 '50 cent']

lady gaga 로 확인해보면...

In [29]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'katy perry',
 'rihanna',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'pink',
 'nelly furtado',
 'kelly clarkson']

유저에게 아티스트 추천하기

AlternatingLeastSquares 클래스에 구현되어 있는 recommend 메서드를 통하여 좋아할 만한 아티스트를 추천받는다. 

filter_already_liked_items 는 유저가 이미 평가한 아이템은 제외하는 Argument 이다.

In [30]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.46671638),
 (627, 0.46282348),
 (550, 0.45131847),
 (1800, 0.45056957),
 (2249, 0.44519126),
 (369, 0.44306654),
 (724, 0.4287903),
 (354, 0.42779592),
 (274, 0.4243111),
 (382, 0.4155081),
 (409, 0.41482753),
 (564, 0.4017088),
 (901, 0.40122712),
 (355, 0.3934034),
 (391, 0.38730523),
 (3005, 0.37828487),
 (5555, 0.36662924),
 (618, 0.36296374),
 (621, 0.35721302),
 (24, 0.35548085)]

In [31]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'maroon 5',
 'britney spears',
 'lady gaga',
 'katy perry',
 'justin timberlake',
 'lily allen',
 'nelly furtado',
 'michael jackson',
 'mika',
 'amy winehouse',
 'kanye west',
 'pink',
 'madonna',
 'christina aguilera',
 'duffy',
 'timbaland',
 'the pussycat dolls',
 'alicia keys',
 'jack johnson']

rihanna를 추천해주는 이유는? AlternatingLeastSquares 클래스에 구현된 explain 메소드를 사용하면 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있다.

In [32]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

이 method는 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠와 기여도(합이 콘텐츠의 점수가 됩니다.)를 반환하한다.

In [33]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.21174005191451922),
 ('black eyed peas', 0.14406602449745617),
 ('jason mraz', 0.0695895732368319),
 ('coldplay', 0.04372703708203175),
 ('maroon5', 0.00025945150381487996)]

filter_already_liked_items=True로 했는데 앞에 maroon 5는 이미 평가한 아이템이 나오는것을 확인할 수 있는데.. 

이것은 implicit 버전 0.4.2에서 생긴 버그이며, 코드는 사람이 만들기 때문에 이렇게 실수할 가능성이 있다.

### 마무리

---

추천시스템에서 Baseline으로 많이 사용되는 MF를 통해 유저에게 아티스트를 추천해보았으며 추천시스템 관련 task에서 기본 모델을 만드실 수 있을까??

실습으로 만든 모델은 몇 가지 아쉬운 점이 있는데.... 

1. 유저, 아티스트에 대한 Meta 정보를 반영하기 쉽지 않습니다. 연령대별로 음악 취향이 굉장히 다르지 않을까요? 
2. 유저가 언제 play 했는지에 반영하기 쉽지 않습니다. 10년 전에 즐겨듣던 아티스트와 지금 즐겨듣는 아티스트를 비교해보세요.

이러한 이유와 딥러닝의 발전으로 MF 이외의 모델 구조도 많이 연구/ 사용되고 있다. 하지만 어떤 추천 모델도 핵심은 MF와 비슷합니다.

유저와 아이템에 대한 벡터를 잘 학습하여 취향에 맞게(유저에 맞게) 아이템을 보여주거나(Retrieval) 걸러내는(Filtering) 역할입니다.

## 프로젝트 - Movielens 영화 추천 실습

 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보자.
 
 이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터로 데이터의 속성 및 특징 그리고 실습방법은 
 
- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장.
- 별점 데이터는 대표적인 explicit 데이터이지만 implicit 데이터로 간주하고 테스트해볼 수 있다.
- 별점을 시청횟수로 해석하며 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하고 실습할 예정.

Cloud Storage에 미리 업로드 된 ml-1m폴더 내 파일을 심볼릭 링크로 개인 storage에 연결 

$ mkdir -p ~/aiffel/EXPLORATION/09/recommendata_iu/data/ml-1m

$ ln -s ~/data/ml-1m/* ~/aiffel/EXPLORATION/09/recommendata_iu/data/ml-1m

### 데이터 준비와 전처리

필요한 라이브러리 가져오기

In [34]:
import os
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

데이터 불러오기

In [35]:
rating_file_path=os.getenv('HOME') + '/aiffel/EXPLORATION/09/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head(10)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
5        1      1197       3  978302268
6        1      1287       5  978302039
7        1      2804       5  978300719
8        1       594       4  978302268
9        1       919       4  978301368

rating이 3점 미만 제외...

In [36]:
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

별점을 시청횟수로 가정하였으므로 rating -> count로

In [37]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

In [38]:
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

영화 제목을 보기 위해 메타 데이터 불러오기

In [39]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/EXPLORATION/09/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### 분석해 봅시다.

---

- ratings에 있는 유니크한 영화 개수
- rating에 있는 유니크한 사용자 수
- 가장 인기 있는 영화 30개(인기순)

In [40]:
print(ratings['movie_id'].nunique())  # ratings에 있는 유니크한 영화 개수

3628

In [41]:
print(ratings['user_id'].nunique())  # rating에 있는 유니크한 사용자 수

6039

In [42]:
# 앞선 두 데이터프레임을 합쳐서 출력해보기
mv_total = pd.merge(ratings, movies, how='left')
mv_total

mv_count = mv_total.groupby('title')['user_id'].count()
mv_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

### 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

영화제목 찾기

In [43]:
movies[movies['title'].str.lower().str.contains('star wars')]

,movie_id,title,genre
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
2559,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi

In [44]:
movies[movies['title'].str.lower().str.contains('x-file')]

      movie_id                                  title                    genre
1840      1909  X-Files: Fight the Future, The (1998)  Mystery|Sci-Fi|Thriller

In [45]:
movies[movies['title'].str.lower().str.contains('super')]

,movie_id,title,genre
542,546,Super Mario Bros. (1993),Action|Adventure|Children's|Sci-Fi
645,651,"Superweib, Das (1996)",Comedy
850,861,Supercop (1992),Action|Thriller
2571,2640,Superman (1978),Action|Adventure|Sci-Fi
2572,2641,Superman II (1980),Action|Adventure|Sci-Fi
2573,2642,Superman III (1983),Action|Adventure|Sci-Fi
2574,2643,Superman IV: The Quest for Peace (1987),Action|Adventure|Sci-Fi
2838,2907,Superstar (1999),Comedy
3121,3190,Supernova (2000),Adventure|Sci-Fi
3807,3877,Supergirl (1984),Action|Adventure|Fantasy

In [46]:
# 사용자 인덱스 생성
my_id = ratings['user_id'].max() + 1
print(my_id)

6041

In [47]:
ratings.head(10)

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291
5        1      1197      3  978302268
6        1      1287      5  978302039
7        1      2804      5  978300719
8        1       594      4  978302268
9        1       919      4  978301368

필요없는 timestamp 칼럼 제거

In [48]:
using_cols = ['user_id', 'movie_id', 'count']
ratings = ratings[using_cols]
ratings

         user_id  movie_id  count
0              1      1193      5
1              1       661      3
2              1       914      3
3              1      3408      4
4              1      2355      5
...          ...       ...    ...
1000203     6040      1090      3
1000205     6040      1094      5
1000206     6040       562      5
1000207     6040      1096      4
1000208     6040      1097      4

[836478 rows x 3 columns]

In [49]:
ratings.tail(10)

         user_id  movie_id  count
1000198     6040      2021      3
1000199     6040      2022      5
1000200     6040      2028      5
1000201     6040      1080      4
1000202     6040      1089      4
1000203     6040      1090      3
1000205     6040      1094      5
1000206     6040       562      5
1000207     6040      1096      4
1000208     6040      1097      4

In [50]:
# 내가 좋아하는 영화 데이터 확인
my_mvid = [260, 1196, 1210, 1840, 2640]

my_movie_list = pd.DataFrame(
    {'user_id': [my_id] * 5, 'movie_id': my_mvid, 'count': [5] * 5})

if not ratings.isin({'user_id': [my_id]})['user_id'].any():
    ratings = ratings.append(my_movie_list)
    

ratings.tail(10)

         user_id  movie_id  count
1000203     6040      1090      3
1000205     6040      1094      5
1000206     6040       562      5
1000207     6040      1096      4
1000208     6040      1097      4
0           6041       260      5
1           6041      1196      5
2           6041      1210      5
3           6041      1840      5
4           6041      2640      5

user_id와 movie_id 고유한 값으로 만들기

In [60]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data    
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

ratings

user_id column indexing OK!!
movie column indexing OK!!

    user_id  movie_id  count
0         0         0      5
1         0         1      3
2         0         2      3
3         0         3      4
4         0         4      5
..      ...       ...    ...
0      6039        44      5
1      6039       117      5
2      6039        64      5
3      6039       402      5
4      6039       526      5

[836483 rows x 3 columns]

### CSR matrix를 직접 만들어 봅시다.

In [69]:
n_user = ratings['user_id'].nunique()
n_movie = ratings['movie_id'].nunique()
print(n_user, n_movie)     

csr_data = csr_matrix((ratings['count'], (ratings.user_id, ratings.movie_id)))
csr_data

6040 3628

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

### als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [70]:
# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

als_model = AlternatingLeastSquares(factors=300, regularization=0.01, use_gpu=False, iterations=20, dtype=np.float32)
csr_data_transpose = csr_data.T  # als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해준다.
csr_data_transpose

als_model.fit(csr_data_transpose)  # 모델 훈련

  0%|          | 0/20 [00:00<?, ?it/s]

### 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [80]:
# movie_id로 영화 title가져오기
def get_movie_name(idx):
    if idx in movies.movie_id:
        return movies[movies['movie_id'] == idx]['title'].values[0]
    else:
        print('해당 인덱스의 영화가 존재하지 않습니다.')

In [91]:
get_movie_name(1909)

'X-Files: Fight the Future, The (1998)'

In [71]:
# my_id의 벡터
mulder = user_to_idx[my_id]
my_vector = als_model.user_factors[mulder]
my_vector

array([ 0.28167015, -0.4367757 , -0.19584785, -0.13060619, -0.16718808,
       -0.52442765,  0.1866794 , -0.0379503 , -0.2327978 ,  0.06097668,
        0.4868844 ,  0.40792152,  0.5700584 , -0.16114227,  0.37406653,
        0.09831657,  0.4301447 ,  0.03695626, -0.19657406, -0.4427181 ,
        0.18132143, -0.07793729, -0.30657184, -0.16024844, -0.12059655,
       -0.4143333 , -0.4314828 , -0.22450571,  0.27830762,  0.01949837,
        0.29180363,  0.05852951, -0.2878636 ,  0.04060013, -0.05878869,
        0.10618999,  0.31588447,  0.35000315,  0.22829138, -0.06624801,
        0.35907918, -0.42173842,  0.09442679,  0.37316573, -0.15999022,
       -0.32526672, -0.91272014, -0.05173121,  0.09186724,  0.02424346,
       -0.7094922 ,  0.11635602, -0.54433453, -0.20970765, -0.35596797,
       -0.4601389 ,  0.09695107, -0.47788814, -0.4495458 , -0.03223473,
       -0.5954503 , -0.04424626,  0.48913646,  0.5248486 ,  0.38322467,
       -0.42092177, -0.203379  , -0.13185336, -0.23181677,  0.91438264,
       -0.0795317 , -0.30989912,  0.02710692,  0.5262886 ,  0.20718265,
       -0.19371292,  0.45887592, -0.16332911,  0.53333133, -0.4580289 ,
        0.36284912, -0.12289263,  0.1835345 , -0.06447734,  0.03544565,
       -0.31901303, -0.34499577, -0.26044345,  0.05314169,  0.21733193,
        0.02013377,  0.08266569, -0.8171836 , -0.25040787,  0.76667446,
       -0.26483387, -0.42427307, -0.21206623, -0.42851675, -0.23871048,
        0.13367428, -0.83004165, -0.26759112,  0.07919927, -0.26309583,
       -0.4815922 , -0.07486798, -0.23695272, -0.36422956,  0.33417398,
       -0.16105135, -0.4669902 ,  0.16172819, -0.9848234 , -0.316288  ,
        0.23634285, -0.08886178,  0.36406288, -0.45542932,  0.46048644,
        0.16608119, -0.64159393,  0.10860624, -0.3974367 , -0.19511153,
       -0.38923663, -0.12845267,  0.4068689 ,  0.3963686 ,  0.12642659,
       -0.29011413, -0.02775011,  0.14091747,  0.16552612, -0.22462054,
        0.5560543 ,  0.28021312,  0.03125553, -0.17270666, -0.24099436,
       -0.4212792 ,  0.39822152, -0.13634144, -0.00345145,  0.47721443,
        0.01984625, -0.27567038,  0.45918968,  0.59804827,  0.2693789 ,
       -0.23450883,  0.13122691,  0.05976281, -0.45379657, -0.56029165,
        0.48335072, -0.13155542, -0.0918393 ,  0.01170676, -0.43551645,
        0.47738194, -0.11103553, -0.23129757, -0.07442469,  0.47467256,
       -0.44733685, -0.01673971,  0.41738144,  0.4325102 , -0.2211728 ,
        0.51837516, -0.1947823 , -0.04153168,  0.11678343, -0.4060637 ,
       -0.4028103 ,  0.01633322, -0.14109215,  0.7426002 ,  0.52721703,
        0.49291122, -0.5634432 , -0.04469008,  0.3665224 , -0.19672604,
       -0.11630796, -0.142089  ,  0.6446306 ,  0.3214607 ,  0.2016329 ,
       -0.2684484 ,  0.38241652,  0.20672788, -0.18725026, -0.06624482,
        0.41860378,  0.34057155,  0.25445434,  0.43567988, -0.14073277,
        0.2779926 , -0.07812402,  0.44286007, -0.16713242,  0.12168791,
       -0.05405517, -0.41330168,  0.47910446, -0.02133405, -0.32120544,
        0.15791398, -0.00430078,  0.3089305 ,  0.47010553, -0.13815196,
       -0.36155537, -0.1796379 ,  0.4826033 ,  0.03523177,  0.45317596,
        0.27983227, -0.31152946, -0.46712768, -0.36110502, -0.04465674,
        0.30884665, -0.05041023, -0.45147264,  0.5755312 ,  0.20585583,
        0.18298891, -0.06581187, -0.36153868, -0.03561249,  0.5738709 ,
       -0.0190626 , -0.05017823,  0.13911253, -0.0157473 , -0.81628424,
        0.02125341,  0.30091557,  0.2574224 , -0.09761827,  0.4882652 ,
        0.17209817,  0.16936056,  0.28854236, -0.5398808 , -0.7748879 ,
        0.075075  ,  0.08987987,  0.15809001, -0.21556607,  0.45577076,
        0.07729276,  0.12180128,  0.20546785,  0.40591303,  0.12967247,
       -0.0204218 , -0.01424047, -0.35029796, -0.33252272,  0.32960874,
       -0.00787634, -0.07499688,  0.07359608, -0.23507959,  0.45322627,
       -0.23240122,  0.7318693 ,  0.2998244 , -0.304326  ,  0.02892758,
        0.11239351, -0.13035126,  0.16793077, -0.6182347 , -0.00217909,
       -0.3363579 ,  0.3985484 , -0.20050403,  0.22484289, -0.35296506,
        0.02635056, -0.32587162,  0.24483773,  0.44191852,  0.2164173 ,
       -0.39923653,  0.97211725,  0.15701762,  0.30890462,  0.01612283,
        0.21366803,  0.22438435, -0.64435905,  0.5148841 ,  0.62016916],
      dtype=float32)

In [73]:
# star wars의 벡터
star_wars = movie_to_idx[260]
star_wars_vector = als_model.item_factors[star_wars]
star_wars_vector

array([ 0.01840853, -0.01029846, -0.00502936, -0.01721976, -0.00722847,
       -0.02934353,  0.00781002, -0.00834455,  0.00262773, -0.02014854,
        0.00098833,  0.00631575,  0.02768802,  0.02100278,  0.01424924,
        0.01083007,  0.0090479 ,  0.00014725,  0.0002313 , -0.02147249,
        0.01557962, -0.00603722, -0.00049217, -0.00330826, -0.00190894,
       -0.00503673,  0.01263293, -0.01325885,  0.02800618,  0.00732788,
       -0.00135216, -0.00208999,  0.00738145,  0.02026756, -0.017312  ,
       -0.00334864,  0.01821334,  0.0190076 ,  0.00899172, -0.00705341,
        0.01119415, -0.00418977,  0.01636352,  0.02416321,  0.00553888,
       -0.0110026 ,  0.00258164,  0.02092204, -0.00330288, -0.00543562,
       -0.02372186, -0.01199292, -0.01852865, -0.00344085,  0.01110525,
       -0.02043416,  0.02174855,  0.00854411,  0.01645059,  0.00777862,
       -0.02931215, -0.00563426, -0.0069284 ,  0.00997675,  0.00996804,
       -0.01789904,  0.01499021, -0.01486278,  0.01651676,  0.04145185,
       -0.00116246, -0.01006337, -0.00490782,  0.01301208, -0.00326521,
        0.00276342,  0.01377684,  0.00811228,  0.02099747, -0.03123399,
        0.02721735,  0.03042583,  0.00375036, -0.00959614,  0.02803337,
       -0.02535523,  0.01273263, -0.01211398,  0.01624229,  0.02210628,
       -0.00373953,  0.00363119, -0.01859471,  0.02083281,  0.03349347,
        0.02238252,  0.00944167,  0.0003237 , -0.00174782,  0.00443825,
        0.00059775, -0.03324108,  0.00149851,  0.00594215, -0.00638125,
       -0.00652478, -0.01272601,  0.00597494,  0.0095263 , -0.00566132,
        0.00484465,  0.00908376,  0.02831593, -0.0122654 , -0.00678985,
       -0.00229878, -0.0032553 ,  0.00654892, -0.01491661,  0.03792911,
        0.0346286 , -0.0297454 ,  0.00373112, -0.00080908,  0.0081175 ,
        0.01234848, -0.01102881,  0.02468046,  0.01724393,  0.01069551,
       -0.00378815,  0.01009321,  0.02569385,  0.01005825, -0.00866048,
        0.03917186,  0.02525794, -0.01082895, -0.00807611,  0.00929017,
       -0.02836722,  0.00670823,  0.01257786, -0.01389742,  0.02266205,
        0.01587901, -0.01104978,  0.03232948,  0.01788797,  0.02982988,
        0.02117862, -0.00935586, -0.00395802, -0.01534546,  0.01165507,
        0.03642093, -0.03246146,  0.00036675,  0.02915203, -0.01949415,
       -0.0003921 ,  0.00099619,  0.00697294, -0.01523713,  0.01611958,
        0.00489978, -0.00898346, -0.00445235,  0.01648299,  0.0029048 ,
        0.02103856,  0.01445187, -0.00467275,  0.02748026, -0.01578028,
       -0.00678861,  0.00040526, -0.0128113 ,  0.02814239,  0.02594668,
        0.02691317, -0.01055096,  0.01787342,  0.00840384, -0.01076595,
        0.00310809,  0.00708048,  0.03388535, -0.00653363,  0.01307753,
       -0.00506712,  0.01058394,  0.00268445, -0.00711872, -0.00236065,
        0.01702981, -0.00892427,  0.02426621,  0.01917409, -0.01078967,
        0.01464868,  0.010823  ,  0.02430408, -0.01562766,  0.01345863,
        0.01563255, -0.01049188,  0.02951413, -0.00134003,  0.00642108,
        0.02028729,  0.00844061,  0.01885361,  0.02505956, -0.01433459,
       -0.01697435, -0.01588261,  0.01756815,  0.00967903,  0.01182675,
        0.0131528 , -0.00111783, -0.01867543, -0.00794819,  0.00945026,
        0.00331611, -0.0054435 , -0.00180372,  0.02283403,  0.01794476,
        0.02652298,  0.01958201, -0.00722569, -0.00796366,  0.01322396,
        0.01644343,  0.00278678, -0.00628507,  0.01443584, -0.02584226,
       -0.00372232,  0.02494942,  0.00375381, -0.0078181 ,  0.02195997,
       -0.00653575, -0.01811742,  0.00350649, -0.02477599, -0.01048535,
       -0.00471522,  0.01569386,  0.00355939, -0.00023115,  0.01658442,
        0.01953577, -0.01413465, -0.01891355, -0.00665347, -0.00370497,
        0.00147491,  0.02924123,  0.01523973,  0.00303439,  0.00212802,
       -0.00499184, -0.00421762,  0.02132964, -0.01058743,  0.02706412,
       -0.00360214,  0.00803529,  0.03699521, -0.01536253,  0.01749436,
       -0.01191958,  0.04036676, -0.00585709, -0.021613  ,  0.00348012,
        0.00665904,  0.02157837, -0.00700339,  0.02300892, -0.00972786,
        0.03721936, -0.00650073,  0.00271913,  0.02195261,  0.02177764,
        0.00453403,  0.02212763,  0.0173169 ,  0.01420383,  0.00276224,
        0.00620486, -0.00140019, -0.01731636, -0.00156773,  0.03979049],
      dtype=float32)

In [93]:
np.dot(my_vector, star_wars_vector)

0.96703196

In [75]:
# x-files의 벡터
xfiles = movie_to_idx[1909]
xfiles_vector = als_model.item_factors[xfiles]
xfiles_vector

array([ 2.67834514e-02, -9.45165567e-03,  2.40545776e-02, -1.10081825e-02,
        2.75757741e-02,  1.07252467e-02, -1.59562659e-02,  1.50151579e-02,
        9.90499929e-03,  2.87578851e-02, -2.96616741e-03, -8.30103178e-04,
       -1.11085428e-02,  1.28132589e-02,  1.08058676e-02,  8.39486439e-03,
        1.03700422e-02,  1.91323534e-02,  1.58813614e-02, -2.92521482e-03,
        1.27099361e-02, -1.03036570e-03,  1.97017076e-03,  1.41014056e-02,
        1.24137765e-02,  7.09117949e-03,  4.37608175e-02,  3.16413827e-02,
        9.43618827e-03, -1.02425450e-02,  2.42013074e-02, -2.20365427e-03,
        6.82744104e-03, -1.90853234e-03, -3.18531878e-03,  2.76460964e-03,
        1.83514208e-02, -7.65355162e-06, -7.10018072e-03,  1.76757500e-02,
        2.68341675e-02,  2.33976599e-02,  2.34048674e-03,  3.04966457e-02,
       -1.15237599e-02,  4.74524731e-03,  7.03363959e-03,  8.28950200e-03,
        2.99495598e-03,  3.36786546e-02, -1.66482907e-02, -1.20291358e-03,
        1.02168415e-02,  9.35974065e-03, -8.31890572e-03, -8.31194967e-03,
       -5.08374115e-03, -1.94827691e-02,  7.32331164e-03,  7.34654814e-03,
        1.50875673e-02,  1.23816058e-02,  6.25164527e-03,  2.34726779e-02,
       -1.82902359e-03,  7.70834880e-03,  3.85885383e-03, -2.80261016e-03,
       -9.98733100e-03,  2.78610289e-02,  2.34090574e-02, -2.11681076e-03,
        6.25628466e-03,  5.16648451e-03,  8.78896285e-03,  1.38362199e-02,
        1.96087901e-02,  1.24112377e-02,  6.66958373e-03,  1.05384374e-02,
       -1.52052343e-02,  3.78912203e-02, -9.69482493e-03,  1.09041594e-02,
        3.73873441e-03,  1.06691420e-02, -2.01420542e-02,  8.54416378e-03,
       -1.67160146e-02, -1.60536505e-02,  1.77576710e-02, -8.18023551e-03,
       -5.77948010e-03, -1.51658598e-02,  3.43456911e-03, -5.11244917e-03,
        4.60991729e-03,  8.92075012e-04,  1.33292601e-02,  1.57902986e-02,
       -5.49181644e-03,  2.77528889e-03, -5.59428893e-03, -8.45297327e-05,
       -4.59222402e-03,  9.00195260e-03, -1.93612892e-02,  1.80385392e-02,
        1.46036991e-03,  1.81275827e-03,  9.07152239e-03, -9.15191323e-03,
        1.20177604e-02, -2.51028361e-03, -3.00078969e-02,  1.43950630e-03,
       -2.56464467e-03,  2.53847186e-02,  1.99103747e-02,  3.41113061e-02,
       -2.80461134e-03,  4.78939619e-03,  2.44742334e-02,  7.63484696e-03,
        9.81627405e-03,  2.25207265e-02, -7.53361918e-03, -6.50586607e-03,
        1.98128726e-02, -2.05157734e-02,  4.74399235e-03, -9.72937699e-03,
       -1.40991220e-02,  5.07774763e-03,  2.48005427e-03,  1.40169905e-02,
       -2.18257140e-02,  9.28884093e-03, -1.75191890e-02, -5.66132599e-03,
       -1.74329262e-02,  8.40580463e-03,  3.72647983e-03,  3.23212780e-02,
       -9.38319135e-03,  3.04906331e-02,  2.36576311e-02,  1.01143010e-02,
        1.27769979e-02, -1.08844251e-03,  1.61682758e-02,  3.56786419e-03,
       -1.16882045e-02, -5.34022972e-03,  1.08636925e-02,  1.74848679e-02,
       -6.18711626e-03,  2.41492875e-03, -6.49850862e-03,  5.09477127e-03,
        9.97335929e-03,  1.02904290e-02, -1.19286648e-03, -2.58382154e-03,
        1.31655913e-02,  2.51554251e-02, -1.91838015e-02,  1.49258412e-02,
       -9.18951910e-03, -7.75499409e-03,  6.74330629e-04,  3.59582598e-03,
       -2.04365977e-04,  3.06259398e-03,  1.13623133e-02,  3.10881957e-02,
        8.71876348e-03,  2.65388545e-02,  7.59425480e-03, -9.39831603e-03,
        1.52300382e-02,  1.53187485e-02, -1.87761994e-04,  2.77098939e-02,
        5.21383667e-03, -9.52854939e-03, -9.56031494e-03, -1.52334035e-03,
        1.75822247e-02,  2.50759395e-03, -1.66003779e-02, -4.97760810e-03,
        9.24106134e-05, -6.14225119e-03, -1.01746917e-02, -1.97117273e-02,
       -1.17884325e-02, -7.64520140e-03,  1.19651454e-02,  1.50623079e-02,
        6.12829754e-04, -1.04143401e-03,  2.16278946e-03,  1.38193769e-02,
       -8.73863976e-03,  3.94711969e-03, -2.73052021e-03, -2.70749768e-03,
       -1.29776066e-02, -1.62863662e-03,  3.73176462e-03,  1.04151564e-02,
       -1.04583781e-02,  2.34206151e-02,  3.52148749e-02, -4.54103108e-04,
       -7.85899814e-03,  5.44700166e-03, -1.49175413e-02, -2.30190065e-02,
        4.85539436e-03,  4.37909877e-03,  2.20718216e-02,  1.68312080e-02,
        1.25805326e-02,  1.11764120e-02, -3.14992084e-03,  5.62843308e-03,
        1.15517015e-02,  1.85544956e-02,  2.33644303e-02, -3.33648338e-03,
       -2.10267399e-02,  1.54990852e-02,  5.13222476e-04,  1.01388432e-02,
        1.97226042e-03,  1.23708593e-02,  1.64377838e-02,  2.48469156e-03,
        1.43380137e-02, -7.59027991e-03,  2.86192633e-03,  9.50384978e-03,
        1.70644466e-02,  2.24396251e-02,  1.13687804e-02,  2.91025802e-03,
        3.54001531e-03,  3.11756833e-03, -1.39299091e-02, -9.36179049e-03,
        9.36482195e-03,  6.81185955e-03,  1.55936237e-02, -7.16316886e-03,
        3.18265744e-02,  5.99536067e-03,  8.30443297e-03,  1.74913611e-02,
        1.31842913e-02, -1.14750275e-02, -6.20556588e-04,  1.19763995e-02,
       -3.35940346e-02,  2.56960429e-02,  1.22115919e-02,  3.37676634e-03,
       -1.73423830e-02, -1.77840318e-03, -8.65091849e-03,  1.84961725e-02,
        4.53594280e-03,  2.81165889e-03,  9.42399539e-03, -1.10626838e-03,
       -1.86415610e-03,  8.37816950e-03,  1.15593284e-04,  7.12383352e-03,
       -5.39448299e-03,  1.25750341e-02,  9.15869698e-03, -1.58307161e-02,
       -1.70975085e-02,  9.23010055e-03, -1.72612397e-03,  1.16684744e-02,
        1.21713243e-02,  2.60571651e-02,  3.27186733e-02, -1.59020117e-03,
       -1.22329150e-03,  8.14029668e-03, -4.60065348e-04, -6.66283164e-03,
       -3.96282086e-03,  1.67438760e-02,  4.67643887e-03,  1.37372753e-02],
      dtype=float32)

In [94]:
np.dot(my_vector, xfiles_vector)

0.07349926

In [76]:
# super man의 벡터
superman = movie_to_idx[2640]
superman_vector = als_model.item_factors[superman]
superman_vector

array([ 2.28391658e-03, -5.04622096e-03,  1.90308765e-02,  3.23857123e-04,
        5.58507675e-03, -1.00292685e-02,  1.94653887e-02, -1.10329436e-02,
        5.58171375e-03, -2.43950426e-03,  1.84774119e-02,  2.40238458e-02,
       -8.44488852e-04,  9.19145532e-03,  8.74224119e-03,  2.20007244e-02,
        1.31529206e-02,  2.68872385e-03,  5.04800491e-03, -8.87367781e-03,
        2.03083176e-02, -1.76164694e-02,  1.43824397e-02, -1.23937498e-03,
        1.57396554e-03, -1.11797526e-02,  1.56048115e-03, -7.71786086e-03,
        1.06964400e-02,  2.23980029e-03,  9.99818556e-03,  2.05930043e-02,
       -1.50404181e-02,  1.37592526e-02,  2.25955918e-02,  7.61748292e-03,
        2.57235765e-02,  1.30373584e-02,  1.02287577e-02,  2.17577275e-02,
        1.26715256e-02,  2.06770245e-02,  1.10933771e-02,  1.48597630e-02,
        8.88850633e-03, -2.95147635e-02, -2.27677636e-02, -8.52392707e-03,
        2.67410954e-03, -2.13616043e-02, -4.75381181e-04,  6.88395556e-03,
       -3.10917059e-03,  1.27563924e-02, -2.52808183e-02, -3.44852591e-03,
        1.24540767e-02, -1.36022139e-02,  9.77487583e-03,  2.26176996e-02,
        2.84506910e-04, -8.72497726e-03,  3.66730429e-02,  1.53980972e-02,
        3.81786213e-03,  1.96395349e-02, -1.32747451e-02,  1.06082736e-02,
       -1.03210453e-02,  2.87615731e-02,  4.90771094e-03,  1.69607233e-02,
       -1.24809928e-02,  3.53458077e-02, -3.45369405e-03, -1.89401563e-02,
       -4.16291552e-03,  1.56242410e-02,  1.07382154e-02,  7.89491087e-03,
        8.92580487e-03, -1.06568113e-02,  2.11954713e-02,  8.16179067e-03,
        1.75676681e-02, -4.75967117e-03, -2.07467359e-02,  1.29395798e-02,
        2.44832691e-02,  1.68821439e-02, -1.17849456e-02, -3.18586687e-03,
       -2.49093608e-03,  3.38470942e-04,  2.20679399e-02, -5.59843145e-03,
       -1.02303680e-02,  8.39255843e-03,  8.02867347e-04, -1.24794636e-02,
       -9.11697559e-03, -1.36515070e-02,  3.95237701e-03,  1.11751147e-02,
        3.31188482e-03, -1.83305442e-02, -6.60391757e-03,  8.21639691e-03,
       -7.86532927e-03,  1.66870747e-02,  4.92411840e-04,  1.78371207e-03,
        2.68847286e-03, -1.72830056e-02, -1.96446404e-02,  1.90571435e-02,
       -7.30249751e-03,  2.88711749e-02,  1.35694153e-03,  5.62477857e-03,
        1.63414273e-02, -1.18237603e-02,  1.48597267e-02, -3.74689203e-04,
        2.76235258e-03, -1.33487023e-02, -1.38004281e-04,  2.00494137e-02,
       -2.84091034e-03, -5.23515278e-04,  1.55276258e-03, -1.04582030e-02,
        6.72761060e-04,  1.33968079e-02,  1.91445481e-02,  1.12769743e-02,
        1.48711004e-03,  1.16203772e-02, -1.02958838e-02, -1.14856083e-02,
        7.53777009e-03, -3.33172595e-03,  9.92445182e-03,  3.75261065e-03,
        5.04601514e-03, -9.43066087e-03,  1.38255553e-02,  7.85895437e-03,
       -9.40321479e-03,  1.07108813e-03,  1.14220856e-02,  1.36121521e-02,
        8.06856342e-03, -9.04588774e-03, -2.04295106e-02,  2.14902777e-02,
        1.40451407e-02,  4.17239964e-03,  1.13893049e-02,  1.72205141e-03,
        3.87522951e-02, -3.88969987e-04,  1.00090988e-02,  3.31784994e-03,
       -3.41242849e-04, -3.38383927e-03, -7.36200484e-03, -6.99592149e-03,
        1.59297418e-02,  2.68531591e-03, -2.48941040e-04,  4.85829776e-03,
        8.47576000e-03,  7.95968529e-03,  1.43938158e-02, -6.16677850e-03,
        1.47192199e-02,  2.43906640e-02,  1.25039797e-02,  1.13732694e-02,
        2.54874863e-02,  2.31916783e-03, -1.54926500e-03, -3.64899798e-03,
        2.26995498e-02, -7.32584624e-03,  6.43203361e-03,  3.31663084e-03,
        3.23961489e-02,  1.72126368e-02, -7.23921880e-03,  5.69383008e-03,
        1.13891810e-02,  2.57808925e-03,  8.31046794e-03,  1.83550604e-02,
        2.71945423e-03, -5.64591214e-03,  1.06619783e-02,  2.12066080e-02,
        7.54470937e-03, -1.91865442e-03,  6.96150679e-03,  5.12606930e-03,
       -1.71328764e-02, -8.91787349e-05, -9.34859179e-03,  1.74503252e-02,
        1.85160618e-02, -1.60571467e-02, -9.58594028e-05,  5.00069524e-04,
        9.40835383e-03,  1.36483507e-02,  1.99407618e-02,  7.01835798e-03,
        1.72611475e-02,  6.80787954e-03,  3.52076278e-03,  1.06105777e-02,
        1.24655785e-02,  1.08006073e-03, -4.20822389e-03,  7.03721819e-03,
        6.70329842e-04,  1.36277443e-02, -9.01060848e-05, -2.33729500e-02,
        3.19362693e-02,  6.46796403e-03, -2.04823930e-02,  3.68169695e-03,
        1.72884052e-03,  4.47492767e-03,  2.47907452e-02, -1.91431004e-03,
        1.17297051e-02,  1.13954237e-02,  6.13438140e-04, -1.01839202e-02,
        1.05860066e-02,  1.00678680e-02,  1.82371307e-02,  1.08189704e-02,
        3.71317565e-02, -1.27126128e-04,  8.39618314e-03,  2.23911367e-02,
        9.66563541e-03, -1.74901094e-02,  5.84108615e-03, -2.81807431e-03,
        1.12032825e-02,  1.37048140e-02,  1.18622398e-02,  1.50688561e-02,
        1.20949419e-02, -5.65135293e-03,  1.19502582e-02,  2.09891479e-02,
       -6.21837471e-03,  1.57768242e-02,  5.70009602e-03,  3.93132400e-03,
        1.76271033e-02,  1.61637831e-02,  2.83091259e-03,  1.06996102e-02,
       -3.38286092e-03,  6.02467731e-03, -3.49574676e-03,  3.84950340e-02,
        2.92404555e-03,  6.36837026e-03, -2.51807715e-03,  1.42943691e-02,
       -1.47959581e-02,  9.42181516e-03, -1.44770350e-02,  1.14959041e-02,
        3.25137749e-03,  1.48196369e-02,  1.31303463e-02, -5.98233053e-03,
       -3.85730108e-03,  5.71543165e-03,  7.59261241e-03, -2.20927317e-03,
       -4.52497043e-03, -2.09149206e-03, -6.19090488e-03,  2.08401401e-02,
        8.31322558e-03,  1.56078264e-02,  7.75673660e-03,  1.35384453e-02,
        2.44125514e-03, -3.95284966e-03,  1.90662052e-02,  1.64082572e-02],
      dtype=float32)

In [95]:
np.dot(my_vector, superman_vector)

0.63564456

In [97]:
movies[movies['title'].str.lower().str.contains('austin')]

      movie_id                                              title   genre
1482      1517  Austin Powers: International Man of Mystery (1...  Comedy
2614      2683       Austin Powers: The Spy Who Shagged Me (1999)  Comedy

In [98]:
# Austin Powers 의 벡터
austin_powers = movie_to_idx[2683]
austin_powers_vector = als_model.item_factors[austin_powers]
austin_powers_vector

array([-1.03824176e-02,  2.84034275e-02,  1.54515719e-02, -3.99836892e-04,
        1.94320809e-02,  2.57769786e-02,  2.15138588e-02, -2.36170646e-02,
        1.11421095e-02,  1.51458606e-02,  1.03549454e-02,  6.65652426e-03,
       -1.34561630e-03,  4.03153058e-03, -8.41581915e-03,  3.71004194e-02,
       -3.47695779e-03, -1.04378564e-02,  6.63462421e-03, -1.73624028e-02,
        2.46944129e-02, -7.63455266e-03,  1.22000389e-02,  2.26875246e-02,
        1.21204052e-02,  3.72283184e-03,  8.83432291e-03,  7.86652789e-03,
       -2.22086497e-02,  2.20675599e-02,  2.38214340e-03, -1.31031442e-02,
       -3.45029082e-04, -3.63266491e-03,  1.20160752e-03, -3.63965705e-03,
        1.22959362e-02, -1.86731142e-03,  1.74643155e-02,  2.25714371e-02,
        2.87124906e-02, -1.44077260e-02, -2.25452166e-02,  2.18019877e-02,
       -1.92034449e-02,  9.91875771e-03,  1.63120090e-03,  1.01703489e-02,
        2.41313428e-02,  4.05887440e-02,  1.28800208e-02,  1.75546890e-03,
        4.19304520e-03,  2.48018913e-02, -3.08873155e-03,  2.28382051e-02,
       -1.17103767e-03, -2.77462117e-02,  1.45008191e-02, -6.06801687e-03,
        2.30331570e-04,  1.42712286e-02, -2.45396383e-02,  6.97145006e-03,
        7.88440183e-03, -3.03083961e-03, -4.14836407e-03, -8.01360235e-03,
        1.12692825e-02,  9.75263305e-03,  1.90737396e-02,  1.37933828e-02,
       -1.17642584e-03,  2.94463839e-02,  1.28743956e-02,  2.68943012e-02,
        1.36895468e-02, -1.37574803e-02,  1.66673176e-02,  1.34561649e-02,
        2.00816803e-02,  2.70962082e-02,  6.83061406e-03, -1.58206525e-03,
       -1.41256936e-02,  3.12084686e-02,  1.80559736e-02, -5.09921927e-03,
        3.16604003e-02,  1.68714374e-02,  2.64728144e-02,  5.29918913e-03,
        2.41988152e-02,  3.63130681e-02, -5.81316696e-03, -8.96965992e-03,
        1.31084211e-02,  5.23918334e-06,  1.57364216e-02,  1.14793787e-02,
        1.78470407e-02, -1.23094544e-02, -5.85908769e-03,  1.35937883e-02,
        1.03765996e-02, -1.10206725e-02, -9.55737568e-03,  1.92944128e-02,
        8.40908475e-03,  1.07707316e-02, -1.92607511e-02,  9.97356698e-03,
        2.16947049e-02, -5.14574000e-04,  8.63058120e-03, -3.62930074e-03,
       -3.30298021e-03, -2.91097984e-02,  9.16291215e-03, -4.40498255e-03,
        1.33877306e-03, -8.25808500e-04,  1.71287835e-03,  4.81521105e-03,
       -1.80117004e-02,  8.08037538e-03,  9.14244447e-03, -5.86595340e-03,
        1.09448908e-02,  1.99988429e-02,  2.81286649e-02,  2.90188636e-03,
        6.99025858e-03,  1.63089316e-02,  3.14784087e-02, -2.20558420e-02,
       -1.53761944e-02,  9.48548317e-03,  2.08984949e-02, -8.74564704e-03,
       -4.05349396e-03,  2.90414188e-02, -1.01754386e-02,  1.55683709e-02,
       -2.21985159e-03, -1.64140370e-02,  1.37560470e-02,  4.61823633e-03,
        1.24673508e-02,  3.76448338e-03,  1.20934732e-02,  2.61462154e-03,
        4.80454881e-03,  1.82298962e-02, -1.41320350e-02, -9.37135704e-03,
       -1.13832382e-02,  2.01208349e-02,  1.92627534e-02, -4.51286603e-03,
       -2.55008303e-02,  3.98655832e-02, -2.98812147e-03, -1.35778468e-02,
       -2.16127299e-02, -6.53792033e-03, -1.02982335e-02, -5.68589009e-03,
        1.39445188e-02, -5.14283078e-03,  1.84512523e-03,  5.68107795e-03,
        6.27881149e-03,  1.54931862e-02, -5.78173855e-03, -6.76783640e-03,
        1.39214369e-02,  2.32357942e-02,  3.01124854e-03,  1.43621685e-02,
        1.95675101e-02, -2.07879990e-02,  2.92670112e-02,  4.16478561e-03,
       -1.95742138e-02, -3.10147414e-03, -1.80123560e-02, -9.47644841e-03,
       -8.21435172e-03, -7.48289702e-03, -9.96955950e-03,  2.01403536e-02,
       -1.06118526e-03,  1.27727035e-02, -1.68770794e-02,  2.04290543e-03,
       -1.09426389e-02, -2.02810694e-03,  1.52805112e-02,  2.20632795e-02,
       -1.99712943e-02,  9.96308029e-03, -2.21747020e-03,  2.53899544e-02,
       -3.50353564e-03,  1.24351438e-02, -1.20943906e-02,  1.91580318e-02,
        2.66364124e-03,  2.86375801e-03,  7.46917957e-03, -1.29819345e-02,
       -2.01527495e-02,  1.23060551e-02, -5.29657584e-04, -9.43107996e-03,
        1.89805906e-02, -1.19220279e-02, -9.39784758e-03,  1.12672839e-02,
        2.38865009e-03,  2.44751154e-03,  2.76740585e-02,  8.90166499e-03,
        1.43471994e-02, -9.00067296e-03, -3.21402866e-03, -7.28057092e-03,
        2.72205994e-02, -2.21321266e-02, -1.48216365e-02, -1.11678010e-02,
        1.94735639e-02,  1.65004320e-02, -4.68507438e-04,  4.03613374e-02,
       -7.30181253e-03, -4.95935278e-03,  1.40381362e-02,  9.76394396e-03,
        9.61135793e-03,  5.92742674e-03, -3.30958096e-03,  1.19879898e-02,
        6.83636870e-03,  3.10844630e-02,  1.34530105e-02,  3.07076629e-02,
        6.29650103e-03,  1.14292409e-02,  2.08962802e-02, -7.27055361e-03,
        7.67880911e-03,  2.76056547e-02,  1.71399284e-02,  1.02679208e-02,
       -7.33040180e-03, -5.84361004e-03, -1.01368967e-02, -1.33797049e-03,
        2.21059006e-02,  1.55480187e-02,  3.45171127e-03,  2.12463830e-02,
        8.28700885e-03, -5.18429186e-03, -1.04999049e-02,  1.08484142e-02,
       -1.04085053e-03, -8.78285989e-03, -7.74033880e-03,  2.51334347e-03,
        2.20140982e-02,  2.13238411e-02,  2.47252136e-02, -1.04976096e-03,
       -4.39681625e-03,  5.02582593e-03,  4.81949886e-03,  2.62988843e-02,
       -9.77489073e-03,  1.43458964e-02,  7.52835954e-03,  2.54542865e-02,
        1.44090606e-02,  1.25226649e-02,  2.80067953e-03,  2.63546240e-02,
        6.17393479e-03,  2.71232389e-02, -7.52585009e-04,  2.33629346e-02,
       -2.15972289e-02,  7.43616093e-03, -1.93858072e-02, -4.28447127e-03,
        1.79121401e-02, -8.44773557e-03, -2.44277231e-02,  1.50958414e-03],
      dtype=float32)

In [99]:
np.dot(my_vector, austin_powers_vector)

-0.029829003

star wars (1977)과 유사한 영화들과의 유사도

In [87]:
movie_id = movie_to_idx[260]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(44, 0.9999999),
 (117, 0.5115858),
 (193, 0.32280773),
 (3134, 0.29173908),
 (1937, 0.29052034),
 (120, 0.2899769),
 (2004, 0.28524235),
 (2731, 0.28400153),
 (3504, 0.28373507),
 (3177, 0.28336096),
 (3460, 0.2820955),
 (3507, 0.28120348),
 (1741, 0.2809558),
 (3052, 0.28084224),
 (3323, 0.2806698)]

X-Files: Fight the Future, The (1998) 과 유사한 영화들과의 유사도

In [89]:
movie_id = movie_to_idx[1909]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(228, 1.0),
 (2736, 0.37140194),
 (3361, 0.36344165),
 (3081, 0.35684922),
 (3302, 0.3563931),
 (2607, 0.3561834),
 (3206, 0.3560002),
 (2883, 0.3533546),
 (3465, 0.35241893),
 (2061, 0.35222447),
 (3196, 0.35214716),
 (2734, 0.3513245),
 (2733, 0.35120356),
 (3458, 0.3511157),
 (2561, 0.35037538)]

Superman (1978) 과 유사한 영화들과의 유사도

In [92]:
movie_id = movie_to_idx[2640]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(526, 1.0000001),
 (763, 0.62248987),
 (1534, 0.4115127),
 (2758, 0.38880783),
 (3025, 0.38605383),
 (2627, 0.38569853),
 (3092, 0.38532284),
 (3057, 0.38485163),
 (3348, 0.38318166),
 (3507, 0.38278568),
 (3210, 0.3826765),
 (2962, 0.38246468),
 (3346, 0.38073623),
 (3532, 0.38038322),
 (3362, 0.3798635)]

### 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [104]:
def get_similar_movie(favorite_movie):
    movie_id = movie_to_idx[favorite_movie]
    similar_movie = als_model.similar_items(movie_id, N=15)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in similar_movie]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '----------------------------------------------------------------------------------------', sep='\n')

get_similar_movie(260)

     movie_id                                      title  \
257       260  Star Wars: Episode IV - A New Hope (1977)

                               genre
257  Action|Adventure|Fantasy|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id                                              title  \
1178      1196  Star Wars: Episode V - The Empire Strikes Back...

                                  genre
1178  Action|Adventure|Drama|Sci-Fi|War
----------------------------------------------------------------------------------------
      movie_id         title                          genre
1196      1214  Alien (1979)  Action|Horror|Sci-Fi|Thriller
----------------------------------------------------------------------------------------
      movie_id                   title  genre
3511      3580  Up at the Villa (2000)  Drama
----------------------------------------------------------------------------------------
      movie_id               title  genre
2609      2678  Desert Blue (1999)  Drama
----------------------------------------------------------------------------------------
      movie_id                           title             genre
1180      1198  Raiders of the Lost Ark (1981)  Action|Adventure
----------------------------------------------------------------------------------------
     movie_id                                              title  \
235       238  Far From Home: The Adventures of Yellow Dog (1...

                    genre
235  Adventure|Children's
----------------------------------------------------------------------------------------
     movie_id                                 title         genre
566       570  Slingshot, The (Kådisbellan ) (1993)  Comedy|Drama
----------------------------------------------------------------------------------------
      movie_id                                        title  genre
3464      3533  Actor's Revenge, An (Yukinojo Henge) (1963)  Drama
----------------------------------------------------------------------------------------
      movie_id                   title           genre
2441      2510  Just the Ticket (1999)  Comedy|Romance
----------------------------------------------------------------------------------------
      movie_id                       title           genre
3284      3353  Closer You Get, The (2000)  Comedy|Romance
----------------------------------------------------------------------------------------
      movie_id                title   genre
3796      3866  Sunset Strip (2000)  Comedy
----------------------------------------------------------------------------------------
      movie_id                title            genre
3395      3464  Solar Crisis (1993)  Sci-Fi|Thriller
----------------------------------------------------------------------------------------
      movie_id              title   genre
1834      1903  Hav Plenty (1997)  Comedy
----------------------------------------------------------------------------------------
      movie_id                                              title   genre
2103      2172  Strike! (a.k.a. All I Wanna Do, The Hairy Bird...  Comedy
----------------------------------------------------------------------------------------

In [106]:
get_similar_movie(2640)

      movie_id            title                    genre
2571      2640  Superman (1978)  Action|Adventure|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id               title                    genre
2572      2641  Superman II (1980)  Action|Adventure|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id                title                    genre
2573      2642  Superman III (1983)  Action|Adventure|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id                  title          genre
3784      3854  Aimée & Jaguar (1999)  Drama|Romance
----------------------------------------------------------------------------------------
      movie_id                           title          genre
3579      3648  Abominable Snowman, The (1957)  Horror|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id                                        title             genre
2533      2602  Mighty Peking Man (Hsing hsing wang) (1977)  Adventure|Sci-Fi
----------------------------------------------------------------------------------------
      movie_id                               title        genre
3519      3588  King of Marvin Gardens, The (1972)  Crime|Drama
----------------------------------------------------------------------------------------
      movie_id                         title            genre
1830      1899  Passion in the Desert (1998)  Adventure|Drama
----------------------------------------------------------------------------------------
      movie_id                      title  genre
2762      2831  Dog of Flanders, A (1999)  Drama
----------------------------------------------------------------------------------------
      movie_id                title   genre
3796      3866  Sunset Strip (2000)  Comedy
----------------------------------------------------------------------------------------
      movie_id               title  genre
3250      3319  Judy Berlin (1999)  Drama
----------------------------------------------------------------------------------------
      movie_id                                            title   genre
3762      3832  Black Sabbath (Tre Volti Della Paura, I) (1963)  Horror
----------------------------------------------------------------------------------------
      movie_id                    title  genre
1025      1038  Unhook the Stars (1996)  Drama
----------------------------------------------------------------------------------------
      movie_id                             title         genre
3312      3381  Slaves to the Underground (1997)  Comedy|Drama
----------------------------------------------------------------------------------------
      movie_id             title     genre
2152      2221  Blackmail (1929)  Thriller
----------------------------------------------------------------------------------------

In [107]:
get_similar_movie(1909)

      movie_id                                  title                    genre
1840      1909  X-Files: Fight the Future, The (1998)  Mystery|Sci-Fi|Thriller
----------------------------------------------------------------------------------------
      movie_id                   title  genre
1618      1664  Nénette et Boni (1996)  Drama
----------------------------------------------------------------------------------------
      movie_id               title  genre
2138      2207  Jamaica Inn (1939)  Drama
----------------------------------------------------------------------------------------
      movie_id                       title           genre
2768      2837  Bedrooms & Hallways (1998)  Comedy|Romance
----------------------------------------------------------------------------------------
     movie_id                     title        genre
242       245  Glass Shield, The (1994)  Crime|Drama
----------------------------------------------------------------------------------------
      movie_id                                       title  genre
3797      3867  All the Rage (a.k.a. It's the Rage) (1999)  Drama
----------------------------------------------------------------------------------------
      movie_id                                              title  genre
2622      2691  Legend of 1900, The (Leggenda del pianista sul...  Drama
----------------------------------------------------------------------------------------
     movie_id                   title             genre
331       335  Underneath, The (1995)  Mystery|Thriller
----------------------------------------------------------------------------------------
      movie_id                         title   genre
1411      1436  Falling in Love Again (1980)  Comedy
----------------------------------------------------------------------------------------
     movie_id            title  genre
981       993  Infinity (1996)  Drama
----------------------------------------------------------------------------------------
    movie_id                                        title          genre
58        59  Confessional, The (Le Confessionnal) (1995)  Drama|Mystery
----------------------------------------------------------------------------------------
      movie_id         title  genre
3118      3187  Trans (1998)  Drama
----------------------------------------------------------------------------------------
      movie_id                              title  genre
1496      1533  Promise, The (La Promesse) (1996)  Drama
----------------------------------------------------------------------------------------
      movie_id                          title          genre
2058      2127  First Love, Last Rites (1997)  Drama|Romance
----------------------------------------------------------------------------------------
      movie_id             title  genre
2925      2994  City, The (1998)  Drama
----------------------------------------------------------------------------------------

### 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [108]:
def recommand_movie(user_id):
    user = user_to_idx[user_id]
    movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in movie_recommended]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

recommand_movie(my_id)

      movie_id               title                    genre
2572      2641  Superman II (1980)  Action|Adventure|Sci-Fi
--------------------------------------------------------------------
      movie_id                                             title  \
2559      2628  Star Wars: Episode I - The Phantom Menace (1999)

                                genre
2559  Action|Adventure|Fantasy|Sci-Fi
--------------------------------------------------------------------
     movie_id                                              title       genre
740       750  Dr. Strangelove or: How I Learned to Stop Worr...  Sci-Fi|War
--------------------------------------------------------------------
     movie_id          title                         genre
588       592  Batman (1989)  Action|Adventure|Crime|Drama
--------------------------------------------------------------------
     movie_id               title        genre
243       246  Hoop Dreams (1994)  Documentary
--------------------------------------------------------------------
      movie_id                           title             genre
1180      1198  Raiders of the Lost Ark (1981)  Action|Adventure
--------------------------------------------------------------------
      movie_id                                      title         genre
3402      3471  Close Encounters of the Third Kind (1977)  Drama|Sci-Fi
--------------------------------------------------------------------
     movie_id                title  genre
504       508  Philadelphia (1993)  Drama
--------------------------------------------------------------------
      movie_id                            title                    genre
1335      1356  Star Trek: First Contact (1996)  Action|Adventure|Sci-Fi
--------------------------------------------------------------------
     movie_id                         title                          genre
912       924  2001: A Space Odyssey (1968)  Drama|Mystery|Sci-Fi|Thriller
--------------------------------------------------------------------
      movie_id                                        title             genre
2046      2115  Indiana Jones and the Temple of Doom (1984)  Action|Adventure
--------------------------------------------------------------------
     movie_id                     title                               genre
907       919  Wizard of Oz, The (1939)  Adventure|Children's|Drama|Musical
--------------------------------------------------------------------
      movie_id         title                          genre
1196      1214  Alien (1979)  Action|Horror|Sci-Fi|Thriller
--------------------------------------------------------------------
      movie_id                title        genre
1680      1729  Jackie Brown (1997)  Crime|Drama
--------------------------------------------------------------------
    movie_id                      title  genre
61        62  Mr. Holland's Opus (1995)  Drama
--------------------------------------------------------------------
      movie_id                       title                            genre
2337      2406  Romancing the Stone (1984)  Action|Adventure|Comedy|Romance
--------------------------------------------------------------------
      movie_id           title          genre
3633      3702  Mad Max (1979)  Action|Sci-Fi
--------------------------------------------------------------------
      movie_id                              title  \
1081      1097  E.T. the Extra-Terrestrial (1982)

                                genre
1081  Children's|Drama|Fantasy|Sci-Fi
--------------------------------------------------------------------
      movie_id           title                genre
2916      2985  Robocop (1987)  Action|Crime|Sci-Fi
--------------------------------------------------------------------
      movie_id            title        genre
2162      2231  Rounders (1998)  Crime|Drama
--------------------------------------------------------------------